@{
  ViewData["Title"] = "Your Account";
}

@using BankAccounts.Models;

<div>
  <h1>Welcome, @ViewBag.Name</h1>
  <h2>Account #: @ViewBag.UserId</h2>
  <h3>Your current balance: 
    <span style="border: 1px solid #000;">
        @ViewBag.Balance
    </span>
  </h3>
  <!-- Insert Transaction Partial Here -->
  @model Transaction
  <form action="/account/@ViewBag.UserId/transaction" method="POST">
    <span>
      <label asp-for="Amount">Deposit/Withdraw: </label>
    </span>
    <span>
        <input asp-for="Amount">
    </span>
    <span>
      <input type="hidden" name="userBalance" value='@ViewBag.Balance'>
      <input type="submit" value="Submit">
    </span>
  </form>

  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var t in ViewBag.Transactions)
      {
        <tr>
          <td>
            $@t.Amount
          </td>
          <td>
              @t.CreatedAt.ToString("dddd, dd MMMM yyyy @ hh:mm tt")
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>
